<ul class="tag_ul">
  <% tags.each do |tag| %>
    <li class="tag_li"><%= link_to tag.name, search_path(content: tag.name, model: "tag", method: "perfect"), class: "taglist" %></li>
      <!--%= tag.books.count %-->
  <% end %>
</ul>